<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div id="root">
	<p>Here an example of v-for and grabbing data from an array</p>
	<ul>
		<li v-for="name in names">{{ name }}</li>
	</ul>
	<p>Or you use v-text instead of the moustache curly braces </p>
	<ul>
		<li v-for="name in names" v-text="name"></li>
	</ul>
</div>


	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script>
		const { createApp } = Vue;

		const app = createApp({ // new Vue instance inside global scope of app
			data() { // data must be a function
				return {
					names: ['Joe', 'Mary', 'John'] // array with elements
					//try app.names.push('Jeremiah')
				}
			}
		});

		app.mount('#root');
	</script>

</body>
</html>